@media (max-width: 1440.98px) {
  .talk__popup--color .modal-dialog {
    max-width: 1212px;
  }
  .talk__popup {
    padding: 0px 100px 36px 100px;
  }
  .talk__popup--content--form {
    min-width: 500px;
  }
  .thanks__popup--color .modal-dialog {
    max-width: 1212px;
  }
  .thanks__popup {
    padding: 100px 100px 100px 100px;
  }
}
@media (max-width: 1366.98px) {
  .common__nav--wrapper--nav ul li a {
    font-size: 15px;
  }
  .common__nav--wrapper--btn--design {
    font-size: 14px;
  }
  .common__nav--wrapper--btn--talk {
    font-size: 14px;
  }
  .common__footer--nav h4 {
    font-size: 14px;
  }
  .common__footer--nav ul li a {
    font-size: 14px;
  }
  .common__footer--nav p {
    font-size: 14px;
  }
  .common__footer--copyright--social ul li a {
    font-size: 15px;
  }
  @keyframes icon-hover {
    0% {
      font-size: 15px;
    }
    50% {
      font-size: 18px;
    }
    100% {
      font-size: 15px;
    }
  }
  .common__footer--copyright--text p {
    font-size: 14px;
  }
  .home__hero::before {
    top: 50%;
    left: calc(50% + 350px);
    height: 329px;
    width: 114px;
  }
  .home__hero::after {
    top: 50%;
    left: calc(50% - 350px);
    height: 329px;
    width: 114px;
  }
  .home__hero--wrapper h2::before {
    height: 36px;
    width: 16px;
  }
  .home__hero--wrapper h2::after {
    height: 50px;
    width: 50px;
  }
  .home__hero--wrapper p {
    max-width: 500px;
    font-size: 15px;
  }
  .home__hero--wrapper--btns a:first-child {
    font-size: 14px;
  }
  .home__hero--wrapper--btns a:last-child {
    font-size: 17px;
  }
  .home__trusted--title h4 {
    font-size: 17px;
  }
  .home__why--title h1 {
    max-width: 555px;
  }
  .home__why--content {
    gap: 36px;
  }
  .home__why--content--tabs--btn .hwct__btn--contnt h4 {
    font-size: 15px;
  }
  .home__why--content--tabs--btn .hwct__btn--contnt h2 {
    font-size: 24px;
  }
  .home__why--content--tabs--btn .hwct__btn--icon {
    font-size: 23px;
  }
  .home__why--content--panel--cover {
    width: 433px;
  }
  .home__testimonial--item--content h2 {
    font-size: 31px;
  }
  .home__testimonial--item--content p {
    font-size: 17px;
  }
  .home__testimonial--item--content--profile .hticp__info p {
    font-size: 14px;
  }
  .home__testimonial--item--content--profile .hticp__info p span {
    font-size: 14px;
  }
  .home__testimonial--controller .swiper-button-next::after {
    font-size: 10px;
  }
  .home__work--btn a {
    font-size: 14px;
  }
  .home__vs--table table tr td p {
    font-size: 17px;
  }
  .home__growth--counter--item h2 {
    font-size: 45px;
  }
  .home__growth--counter--item p {
    font-size: 15px;
  }
  .home__how--wrapper--card--title h3 {
    font-size: 24px;
  }
  .home__how--wrapper--card--title div {
    height: 50px;
    width: 50px;
    font-size: 39px;
  }
  .home__how--wrapper--card p {
    font-size: 14px;
  }
  .home__common--wrapper--text h2 {
    max-width: 446px;
    font-size: 31px;
  }
  .home__common--wrapper--text p {
    font-size: 17px;
  }
  .home__common--wrapper--btn a {
    font-size: 14px;
  }
  .home__faq .question {
    font-size: 17px;
  }
  .home__faq .question::before {
    font-size: 14px;
  }
  .home__faq .answer {
    font-size: 17px;
  }
  .home__networks--items {
    gap: 55px;
  }
  .home__team--card h3 {
    font-size: 24px;
  }
  .home__team--card p {
    font-size: 15px;
  }
  .talk__popup h1 {
    font-size: 38px;
  }
  .talk__popup--content--form form input {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .talk__popup--content--form form textarea {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .thanks__popup--content h1 {
    font-size: 38px;
  }
  .thanks__popup--content p {
    font-size: 17px;
  }
  .thanks__popup--content a {
    font-size: 17px;
    padding: 15px 50px;
  }
}
@media (max-width: 1080.98px) {
  .common__nav--wrapper--nav ul li a {
    font-size: 15px;
  }
  .common__nav--wrapper--btn--design {
    font-size: 14px;
  }
  .common__nav--wrapper--btn--talk {
    font-size: 14px;
  }
  .common__footer--nav h4 {
    font-size: 14px;
  }
  .common__footer--nav ul li a {
    font-size: 14px;
  }
  .common__footer--nav p {
    font-size: 14px;
  }
  .common__footer--copyright--social ul li a {
    font-size: 15px;
  }
  @keyframes icon-hover {
    0% {
      font-size: 15px;
    }
    50% {
      font-size: 18px;
    }
    100% {
      font-size: 15px;
    }
  }
  .common__footer--copyright--text p {
    font-size: 14px;
  }
  .home__hero--wrapper p {
    font-size: 15px;
  }
  .home__hero--wrapper--btns a:first-child {
    font-size: 14px;
  }
  .home__hero--wrapper--btns a:last-child {
    font-size: 17px;
  }
  .home__trusted--title h4 {
    font-size: 17px;
  }
  .home__why--title h1 {
    max-width: 555px;
  }
  .home__why--content {
    flex-direction: column;
  }
  .home__why--content--tabs--btn .hwct__btn--contnt h4 {
    font-size: 15px;
  }
  .home__why--content--tabs--btn .hwct__btn--contnt h2 {
    font-size: 24px;
  }
  .home__why--content--tabs--btn .hwct__btn--icon {
    font-size: 23px;
  }
  .home__why--content--panel {
    width: 100%;
  }
  .home__why--content--panel--cover {
    width: 100%;
  }
  .home__testimonial--item--content h2 {
    font-size: 31px;
  }
  .home__testimonial--item--content p {
    font-size: 17px;
  }
  .home__testimonial--item--content--profile .hticp__info p {
    font-size: 14px;
  }
  .home__testimonial--item--content--profile .hticp__info p span {
    font-size: 14px;
  }
  .home__testimonial--item--cover img {
    max-width: 310px;
  }
  .home__testimonial--controller .swiper-button-next::after {
    font-size: 10px;
  }
  .home__work--btn a {
    font-size: 14px;
  }
  .home__vs--table {
    overflow-x: auto;
  }
  .home__vs--table table tr td p {
    font-size: 17px;
  }
  .home__growth--counter--item h2 {
    font-size: 45px;
  }
  .home__growth--counter--item p {
    font-size: 15px;
  }
  .home__how--wrapper--card {
    max-width: 290px;
  }
  .home__how--wrapper--card img {
    width: 100%;
  }
  .home__how--wrapper--card--title h3 {
    font-size: 24px;
  }
  .home__how--wrapper--card--title div {
    font-size: 39px;
  }
  .home__how--wrapper--card p {
    font-size: 14px;
  }
  .home__common--wrapper--text h2 {
    font-size: 31px;
  }
  .home__common--wrapper--text p {
    font-size: 17px;
  }
  .home__common--wrapper--btn a {
    font-size: 14px;
  }
  .home__faq .question {
    font-size: 17px;
  }
  .home__faq .question::before {
    font-size: 14px;
  }
  .home__faq .answer {
    font-size: 17px;
  }
  .home__networks--items {
    gap: 30px;
  }
  .home__team--card h3 {
    font-size: 24px;
  }
  .home__team--card p {
    font-size: 15px;
  }
  .talk__popup--color .modal-dialog {
    max-width: 1030px;
  }
  .talk__popup--content {
    gap: 75px;
  }
  .talk__popup--content--profile img {
    height: 220px;
    width: 220px;
  }
  .thanks__popup--color .modal-dialog {
    max-width: 1030px;
  }
}
@media (max-width: 990.98px) {
  .common__nav--wrapper--logo img {
    max-width: 133px;
  }
  .common__nav--wrapper--nav ul {
    gap: 20px;
  }
  .common__nav--wrapper--btn {
    gap: 20px;
  }
  @keyframes icon-hover {}
  .home__why--content {
    gap: 36px;
  }
  .home__growth--counter {
    gap: 26px;
  }
  .home__growth--counter--item p {
    max-width: 150px;
  }
  .home__how--wrapper--card {
    max-width: 220px;
  }
  .home__how--wrapper--card img {
    width: 100%;
  }
  .home__common--wrapper {
    padding: 50px 50px;
  }
  .home__common--wrapper--text h2 {
    max-width: 350px;
  }
  .home__common--wrapper--text p {
    margin-bottom: 0;
  }
  .home__networks--items {
    grid-template-columns: repeat(4, 1fr);
  }
  .talk__popup--color .modal-dialog {
    max-width: 930px;
  }
  .talk__popup--content {
    gap: 75px;
  }
  .talk__popup--content--form {
    min-width: 400px;
  }
  .thanks__popup--color .modal-dialog {
    max-width: 930px;
  }
}
@media (max-width: 768.98px) {
  .common__nav {
    position: relative;
    min-height: 80px;
  }
  .common__nav--wrapper {
    min-height: 80px;
  }
  .common__nav--wrapper--nav {
    position: absolute;
    top: 80px;
    left: -100%;
    background-color: #5D50FF;
    height: 100vh;
    width: 100%;
    z-index: 1;
    transition-duration: 700ms;
  }
  .common__nav--wrapper--nav.active {
    left: 0;
  }
  .common__nav--wrapper--nav ul {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
  }
  .common__nav--wrapper--nav ul li a {
    color: #FFF;
  }
  .common__nav--wrapper--btn {
    top: 248px;
    position: absolute;
    left: -100%;
    z-index: 3;
    transition-duration: 700ms;
  }
  .common__nav--wrapper--btn.active {
    left: 20px;
  }
  .common__nav--wrapper--btn--design {
    background-color: #FFF;
    border: 1px solid #5D50FF;
    color: #5D50FF;
    padding: 14px 15px;
  }
  .common__nav--wrapper--btn--design:hover {
    background-color: #FFF;
    border: 1px solid #5D50FF;
    color: #5D50FF;
  }
  .common__nav--wrapper--btn--talk {
    background-color: #FFF;
    border: 1px solid #5D50FF;
    color: #5D50FF;
    padding: 14px 15px;
  }
  .common__nav--wrapper--togoller {
    display: block;
  }
  .common__footer--copyright {
    margin-top: 50px;
  }
  .common__footer--copyright--logo img {
    max-width: 250px;
  }
  @keyframes icon-hover {}
  .common__footer--copyright--text p {
    display: flex;
    flex-direction: column-reverse;
  }
  .common__footer--copyright--text p span:nth-child(2) {
    display: none;
  }
  .home__hero {
    padding: 60px 0 60px 0;
  }
  .home__hero::before {
    top: 60%;
    height: 110px;
    width: 38px;
    left: calc(50% + 140px);
  }
  .home__hero::after {
    top: 60%;
    height: 110px;
    width: 38px;
    left: calc(50% - 140px);
  }
  .home__hero--wrapper h5 {
    font-size: 14px;
    max-width: 80%;
  }
  .home__hero--wrapper p {
    font-size: 14px;
  }
  .home__hero--wrapper--btns {
    margin-bottom: 50px;
  }
  .home__hero--wrapper--btns a:last-child {
    font-size: 15px;
  }
  .home__hero--wrapper ul {
    gap: 10px;
  }
  .home__hero--wrapper ul li {
    width: 50px;
    height: 50px;
  }
  .home__hero--wrapper ul li a img {
    height: 50px;
    width: 50px;
  }
  .home__trusted {
    margin: 50px 0;
  }
  .home__trusted--title h4 {
    font-size: 14px;
  }
  .home__trusted--rating--item img {
    width: 222px;
  }
  .home__why {
    padding: 50px 0;
  }
  .home__why--content--tabs--btn .hwct__btn--contnt {
    padding: 15px;
  }
  .home__why--content--tabs--btn .hwct__btn--contnt h4 {
    font-size: 13px;
  }
  .home__why--content--tabs--btn .hwct__btn--contnt h2 {
    font-size: 20px;
  }
  .home__why--content--tabs--btn .hwct__btn--icon {
    height: 50px;
    width: 50px;
  }
  .home__testimonial {
    margin: 50px 0;
  }
  .home__testimonial--item {
    flex-direction: column-reverse;
    gap: 36px;
    align-items: center;
  }
  .home__testimonial--item--content {
    text-align: center;
  }
  .home__testimonial--item--content--profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__testimonial--item--content--profile .hticp__info ul {
    justify-content: center;
  }
  .home__testimonial--controller .swiper-button-next {
    left: calc(50% + 25px);
    transform: translateX(-50%);
  }
  .home__testimonial--controller .swiper-button-prev {
    left: calc(50% - 25px);
    transform: translateX(-50%);
  }
  .home__work {
    padding: 50px 0;
  }
  .home__work--title h1 {
    margin-bottom: 50px;
  }
  .home__vs {
    padding: 50px 0;
  }
  .home__vs--title h1 {
    margin-bottom: 50px;
  }
  .home__vs--table table tr td:first-child {
    text-align: left !important;
  }
  .home__growth {
    padding: 50px 0;
  }
  .home__growth--counter {
    flex-wrap: wrap;
    align-items: center;
  }
  .home__how {
    padding: 50px 0;
  }
  .home__how--wrapper {
    flex-direction: column;
  }
  .home__how--wrapper--card {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .home__how--wrapper--card:last-child {
    margin-top: 0;
  }
  .home__how--wrapper--card img {
    margin-bottom: 30px;
  }
  .home__common {
    margin: 50px 0;
  }
  .home__common--wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .home__common--wrapper--text h2 {
    text-align: center;
  }
  .home__common--wrapper--text p {
    text-align: center;
  }
  .home__faq {
    padding: 50px 0;
  }
  .home__faq--title h1 {
    margin-bottom: 40px;
  }
  .home__networks {
    padding: 50px 0;
  }
  .home__networks--items {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .home__team {
    margin: 50px 0 20px 0;
  }
  .home__team--card {
    margin-bottom: 50px;
  }
  .talk__popup--color .modal-dialog {
    max-width: 100%;
  }
  .talk__popup {
    padding: 0;
  }
  .talk__popup--content {
    flex-direction: column;
    gap: 75px;
  }
  .talk__popup--content--form {
    min-width: 100%;
  }
  .talk__popup--content--form form input[type=submit] {
    max-width: 100%;
  }
  .thanks__popup--color .modal-dialog {
    max-width: 930px;
  }
}/*# sourceMappingURL=responsive.css.map */