@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}

.common__nav {
  min-height: 144px;
}
.common__nav--wrapper {
  display: flex;
  min-height: 144px;
  align-items: center;
  justify-content: space-between;
}
.common__nav--wrapper--logo h1 {
  font-weight: bolder;
  font-size: 30px;
}
.common__nav--wrapper--logo h1 span {
  color: #425DF9;
}
.common__nav--wrapper--nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 40px;
}
.common__nav--wrapper--nav ul li {
  list-style-type: none;
}
.common__nav--wrapper--nav ul li:first-child a {
  cursor: no-drop;
}
.common__nav--wrapper--nav ul li:last-child a {
  cursor: no-drop;
}
.common__nav--wrapper--nav ul li a {
  color: #0C0F1A;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 21.032px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition-duration: 400ms;
}
.common__nav--wrapper--nav ul li a:hover {
  color: #5D50FF;
}
.common__nav--wrapper--btn {
  display: flex;
  gap: 23px;
}
.common__nav--wrapper--btn--design {
  color: #0C0F1A;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  border: 1px solid #E2E1E4;
  padding: 14px 30px;
  border-radius: 40px;
  transition-duration: 700ms;
}
.common__nav--wrapper--btn--design:hover {
  background-color: #5D50FF;
  border: 1px solid #5D50FF;
  color: #FFFFFF;
}
.common__nav--wrapper--btn--talk {
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18.695px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  background-color: #5D50FF;
  border: 1px solid #5D50FF;
  padding: 14px 30px;
  border-radius: 40px;
  transition-duration: 700ms;
}
.common__nav--wrapper--btn--talk:hover {
  border: 1px solid #E2E1E4;
  background-color: #FFF;
  color: #0C0F1A;
}
.common__nav--wrapper--togoller {
  display: none;
  cursor: pointer;
}
.common__nav--wrapper--togoller.active .common__nav--wrapper--togoller--bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.common__nav--wrapper--togoller.active .common__nav--wrapper--togoller--bar:nth-child(2) {
  opacity: 0;
}
.common__nav--wrapper--togoller.active .common__nav--wrapper--togoller--bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.common__nav--wrapper--togoller--bar {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px auto;
  background-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.common__footer {
  background-color: #160A52;
  padding: 85px 0 62px 0;
}
.common__footer--nav h4 {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 199.023%;
}
.common__footer--nav ul {
  padding: 0;
  margin: 0;
}
.common__footer--nav ul li {
  list-style-type: none;
}
.common__footer--nav ul li a {
  text-decoration: none;
  color: #DFDCFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 199.023%;
  transition-duration: 400ms;
}
.common__footer--nav ul li a:hover {
  color: #5D50FF;
}
.common__footer--nav p {
  color: #DFDCFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.common__footer--copyright {
  margin-top: 106px;
}
.common__footer--copyright--logo {
  text-align: center;
}
.common__footer--copyright--logo img {
  margin-bottom: 40px;
}
.common__footer--copyright--social ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 20px;
}
.common__footer--copyright--social ul li {
  list-style-type: none;
}
.common__footer--copyright--social ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  color: #5D50FF;
  font-size: 22px;
  border-radius: 50%;
  background-color: #DFDCFF;
  transition-duration: 300ms;
}
.common__footer--copyright--social ul li a:hover {
  animation: icon-hover 300ms ease-in-out;
  background-color: #5D50FF;
  color: #FFF;
}
@keyframes icon-hover {
  0% {
    font-size: 22px;
  }
  50% {
    color: #DFDCFF;
    font-size: 26px;
  }
  100% {
    font-size: 22px;
  }
}
.common__footer--copyright--text p {
  color: #DFDCFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 199.023%;
}
.common__footer--copyright--text p span a {
  text-decoration: none;
  color: #DFDCFF;
}
.common__footer--copyright--text p span a:hover {
  color: purple;
}

.home__hero {
  position: relative;
  background-image: url(../img/home/home-hero-bg.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 60px 0 225px 0;
}
.home__hero::before {
  position: absolute;
  content: "";
  top: 30%;
  left: calc(50% + 500px);
  transform: translateX(-50%);
  height: 471px;
  width: 228px;
  z-index: -1;
  background-image: url(../img/home/home-hero-rocket-left.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.home__hero::after {
  position: absolute;
  content: "";
  top: 30%;
  left: calc(50% - 500px);
  transform: translateX(-50%);
  height: 471px;
  width: 228px;
  z-index: -1;
  background-image: url(../img/home/home-hero-rocket-right.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.home__hero--wrapper h5 {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #5D50FF;
  max-width: 456px;
  margin: 0 auto;
  border-radius: 40px;
  padding: 6px;
  margin-bottom: 21px;
}
@media (max-width: 768.98px) {
  .home__hero--wrapper h5 {
    font-size: 14px;
  }
}
.home__hero--wrapper h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}
@media (max-width: 1366.98px) {
  .home__hero--wrapper h1 {
    font-size: 45px;
  }
}
@media (max-width: 768.98px) {
  .home__hero--wrapper h1 {
    font-size: 36px;
  }
}
.home__hero--wrapper h2 {
  position: relative;
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  color: #5D50FF;
}
@media (max-width: 1366.98px) {
  .home__hero--wrapper h2 {
    font-size: 45px;
  }
}
@media (max-width: 768.98px) {
  .home__hero--wrapper h2 {
    font-size: 36px;
  }
}
.home__hero--wrapper h2::before {
  position: absolute;
  content: "";
  top: 0%;
  left: calc(50% - 150px);
  transform: translateX(-50%);
  height: 80px;
  width: 20px;
  z-index: -1;
  background-image: url(../img/home/home-hero-5x-left.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.home__hero--wrapper h2::after {
  position: absolute;
  content: "";
  top: 0%;
  left: calc(50% + 150px);
  transform: translateX(-50%);
  height: 80px;
  width: 33px;
  z-index: -1;
  background-image: url(../img/home/home-hero-5x-right.png);
  background-repeat: no-repeat;
}
.home__hero--wrapper p {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 185.523%;
  max-width: 694px;
  margin: 0 auto;
  margin-bottom: 22px;
}
.home__hero--wrapper--btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 94px;
}
.home__hero--wrapper--btns a:first-child {
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18.695px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #5D50FF;
  border: 1px solid #5D50FF;
  border-radius: 66px;
  text-decoration: none;
  padding: 11px 64px;
  transition-duration: 400ms;
}
.home__hero--wrapper--btns a:first-child:hover {
  background-color: #FFF;
  color: #5D50FF;
}
.home__hero--wrapper--btns a:last-child {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  transition-duration: 400ms;
}
.home__hero--wrapper--btns a:last-child:hover {
  color: #5D50FF;
}
.home__hero--wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.home__hero--wrapper ul li {
  list-style-type: none;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.home__hero--wrapper ul li a {
  text-decoration: none;
}
.home__hero--wrapper ul li a img {
  height: 80px;
  width: 80px;
  transition-duration: 700ms;
}
.home__hero--wrapper ul li a:hover img {
  transform: scale(1.2);
}
.home__hero--overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.home__trusted {
  margin: 100px 0;
  text-align: center;
}
.home__trusted--title h4 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  margin-bottom: 40px;
}
.home__trusted--icons {
  margin-bottom: 30px;
}

.home__why {
  padding: 100px 0;
}
.home__why--title h4 {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768.98px) {
  .home__why--title h4 {
    font-size: 14px;
  }
}
.home__why--title h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  max-width: 777px;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media (max-width: 1366.98px) {
  .home__why--title h1 {
    font-size: 45px;
  }
}
@media (max-width: 768.98px) {
  .home__why--title h1 {
    font-size: 36px;
  }
}
.home__why--content {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  width: 100%;
}
.home__why--content--tabs {
  width: 100%;
}
.home__why--content--tabs--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5D50FF;
  cursor: pointer;
}
.home__why--content--tabs--btn .hwct__btn--contnt {
  padding: 30px;
}
.home__why--content--tabs--btn .hwct__btn--contnt h4 {
  color: #5C6166;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home__why--content--tabs--btn .hwct__btn--contnt h2 {
  color: #5D50FF;
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}
.home__why--content--tabs--btn .hwct__btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: #5D50FF;
  height: 65px;
  width: 65px;
  background-color: #BDB8FF;
  border-radius: 50%;
  margin-right: 20px;
}
.home__why--content--tabs--btn.active {
  background-color: #5D50FF;
}
.home__why--content--tabs--btn.active .hwct__btn--contnt h4 {
  color: #FFF;
}
.home__why--content--tabs--btn.active .hwct__btn--contnt h2 {
  color: #FFF;
}
.home__why--content--tabs--btn.active .hwct__btn--icon {
  color: #BDB8FF;
  background-color: #6D61FF;
}
.home__why--content--panel--cover {
  width: 500px;
  display: none;
}
.home__why--content--panel--cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__why--content--panel--cover.active {
  display: block;
}

.home__testimonial {
  background-color: #160A52;
  padding: 100px 0;
  margin: 100px 0;
}
.home__testimonial--item {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.home__testimonial--item--content h2 {
  color: #FFF;
  font-family: "Fira Sans", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}
.home__testimonial--item--content p {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  max-width: 549px;
  margin-bottom: 30px;
}
.home__testimonial--item--content--profile {
  display: flex;
  gap: 15px;
}
.home__testimonial--item--content--profile .hticp__dp img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.home__testimonial--item--content--profile .hticp__info ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
  margin-bottom: 5px;
}
.home__testimonial--item--content--profile .hticp__info ul li {
  list-style-type: none;
}
.home__testimonial--item--content--profile .hticp__info p {
  color: #BFBFFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home__testimonial--item--content--profile .hticp__info p span {
  color: #EDEDFD;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.home__testimonial--item--cover img {
  max-width: 443px;
}
.home__testimonial--controller {
  position: relative;
  margin-top: 30px;
}
.home__testimonial--controller .swiper-button-next {
  position: absolute;
  top: 0;
  left: calc(0% + 50px);
  height: 36px;
  width: 36px;
  color: #FFF;
  border: 2px solid #39259F;
  border-radius: 50%;
  transition-duration: 300ms;
}
.home__testimonial--controller .swiper-button-next::after {
  font-size: 10px;
}
.home__testimonial--controller .swiper-button-next:hover {
  background-color: #39259F;
}
.home__testimonial--controller .swiper-button-prev {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 36px;
  color: #FFF;
  border: 2px solid #39259F;
  border-radius: 50%;
  transition-duration: 300ms;
}
.home__testimonial--controller .swiper-button-prev::after {
  font-size: 10px;
}
.home__testimonial--controller .swiper-button-prev:hover {
  background-color: #39259F;
}

.home__work {
  padding: 100px 0;
}
.home__work--title h4 {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768.98px) {
  .home__work--title h4 {
    font-size: 14px;
  }
}
.home__work--title h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 80px;
}
@media (max-width: 1366.98px) {
  .home__work--title h1 {
    font-size: 45px;
  }
}
@media (max-width: 768.98px) {
  .home__work--title h1 {
    font-size: 36px;
  }
}
.home__work--slider--card img {
  width: 100%;
}
.home__work--btn {
  text-align: center;
  margin-top: 80px;
}
.home__work--btn a {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18.695px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border: 1px solid #425DF9;
  padding: 13px 52px;
  border-radius: 39px;
  transition-duration: 700ms;
}
.home__work--btn a:hover {
  color: #FFF;
  background-color: #5D50FF;
}

.home__vs {
  padding: 100px 0;
}
.home__vs--title h4 {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768.98px) {
  .home__vs--title h4 {
    font-size: 14px;
  }
}
.home__vs--title h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 90px;
}
@media (max-width: 1366.98px) {
  .home__vs--title h1 {
    font-size: 45px;
  }
}
@media (max-width: 768.98px) {
  .home__vs--title h1 {
    font-size: 36px;
  }
}
.home__vs--table table {
  width: 100%;
  text-align: center;
}
.home__vs--table table tr td {
  min-width: 300px;
}
.home__vs--table table tr td:nth-child(1) {
  min-width: 200px;
}
.home__vs--table table tr td:nth-child(1) p {
  padding-left: 24px;
  text-align: left;
}
.home__vs--table table tr td b {
  font-weight: 600;
}
.home__vs--table table tr td:last-child {
  background-color: #5D50FF;
}
.home__vs--table table tr td:last-child p {
  color: #FFF;
}
.home__vs--table table tr td p {
  color: #160A52;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  max-width: 382px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 23px 0;
}
.home__vs--table table tr td img {
  margin: 0 auto;
}
.home__vs--table table tr td.custom-td-color {
  background-color: #8C83FF;
}
.home__vs--table table tr:nth-child(even) {
  background-color: #E4E6F6;
}

.home__growth {
  padding: 100px 0;
}
.home__growth--title h4 {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768.98px) {
  .home__growth--title h4 {
    font-size: 14px;
  }
}
.home__growth--title h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 60px;
}
@media (max-width: 1366.98px) {
  .home__growth--title h1 {
    font-size: 45px;
  }
}
@media (max-width: 768.98px) {
  .home__growth--title h1 {
    font-size: 36px;
  }
}
.home__growth--counter {
  display: flex;
  justify-content: center;
  gap: 64px;
}
.home__growth--counter--item h2 {
  color: #5D50FF;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}
.home__growth--counter--item p {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 218px;
}

.home__how {
  padding: 100px 0;
}
.home__how--title h4 {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768.98px) {
  .home__how--title h4 {
    font-size: 14px;
  }
}
.home__how--title h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 50px;
}
@media (max-width: 1366.98px) {
  .home__how--title h1 {
    font-size: 45px;
  }
}
@media (max-width: 768.98px) {
  .home__how--title h1 {
    font-size: 36px;
  }
}
.home__how--wrapper {
  display: flex;
  justify-content: space-between;
}
.home__how--wrapper--card {
  max-width: 317px;
}
.home__how--wrapper--card img {
  margin-bottom: 41px;
}
.home__how--wrapper--card--title {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 20px;
}
.home__how--wrapper--card--title h3 {
  color: #5D50FF;
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}
.home__how--wrapper--card--title div {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 56.13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 68px;
  width: 68px;
  background-color: #EFEFFF;
}
.home__how--wrapper--card p {
  color: #5C6166;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home__common {
  margin: 100px 0px;
}
.home__common--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 71px 100px;
  background-color: #5D50FF;
  border-radius: 5px;
}
.home__common--wrapper--text h2 {
  color: #FFF;
  font-family: "Fira Sans", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  max-width: 633px;
}
.home__common--wrapper--text p {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home__common--wrapper--btn a {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18.695px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FFF;
  border: 1px solid #FFF;
  text-decoration: none;
  padding: 13px 38px;
  border-radius: 49px;
  transition-duration: 700ms;
}
.home__common--wrapper--btn a:hover {
  background-color: #5D50FF;
  color: #FFF;
}

.home__faq {
  padding: 100px 0;
}
.home__faq--title h4 {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768.98px) {
  .home__faq--title h4 {
    font-size: 14px;
  }
}
.home__faq--title h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 50px;
}
@media (max-width: 1366.98px) {
  .home__faq--title h1 {
    font-size: 45px;
  }
}
@media (max-width: 768.98px) {
  .home__faq--title h1 {
    font-size: 36px;
  }
}
.home__faq .faq {
  border-bottom: 1px solid #425DF9;
  padding-bottom: 23px;
  margin: 20px;
}
.home__faq .question {
  color: #160A52;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  padding-left: 30px;
}
.home__faq .question::before {
  content: "+";
  position: absolute;
  left: 0;
  font-size: 18px;
  font-weight: bold;
}
.home__faq .answer {
  color: #6D6D6D;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 105%;
  margin-top: 16px;
  display: none;
  margin-top: 10px;
}
.home__faq .expanded .question::before {
  content: "-";
}

.home__networks {
  padding: 100px 0;
}
.home__networks--title h4 {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768.98px) {
  .home__networks--title h4 {
    font-size: 14px;
  }
}
.home__networks--title h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 50px;
}
@media (max-width: 1366.98px) {
  .home__networks--title h1 {
    font-size: 45px;
  }
}
@media (max-width: 768.98px) {
  .home__networks--title h1 {
    font-size: 36px;
  }
}
.home__networks--items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px;
}
.home__networks--items--card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  background-color: #EFEFFF;
  border-radius: 5px;
}
.home__team {
  margin: 100px 0 200px 0;
}
.home__team--title h4 {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768.98px) {
  .home__team--title h4 {
    font-size: 14px;
  }
}
.home__team--title h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 64px;
}
@media (max-width: 1366.98px) {
  .home__team--title h1 {
    font-size: 45px;
  }
}
@media (max-width: 768.98px) {
  .home__team--title h1 {
    font-size: 36px;
  }
}
.home__team--card {
  text-align: center;
}
.home__team--card img {
  height: 175px;
  width: 175px;
  margin-bottom: 15px;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
}
.home__team--card h3 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.home__team--card p {
  color: #5D50FF;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.talk__popup--color .modal-dialog {
  max-width: 1440px;
}
.talk__popup--color .modal-dialog .modal-content {
  background-color: #BDB8FF;
}
.talk__popup--color .modal-dialog .modal-header {
  border-bottom: none;
}

.talk__popup {
  padding: 36px 155px 55px 155px;
}
.talk__popup h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 55px;
}
.talk__popup--content {
  display: flex;
  align-items: center;
  gap: 115px;
}
.talk__popup--content--profile {
  width: 385px;
  text-align: center;
}
.talk__popup--content--profile img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.talk__popup--content--profile ul {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 0;
}
.talk__popup--content--profile ul li {
  list-style-type: none;
}
.talk__popup--content--profile ul li a img {
  height: 50px;
  width: 50px;
  margin-bottom: 0;
}
.talk__popup--content--profile ul li span {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  padding: 0 5px;
  border-radius: 5px;
  bottom: -40px;
  color: #160A52;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.talk__popup--content--profile ul li:nth-child(1):hover span {
  display: block;
}
.talk__popup--content--profile ul li:nth-child(2):hover span {
  display: block;
}
.talk__popup--content--profile ul li:nth-child(3):hover span {
  display: block;
}
.talk__popup--content--form {
  min-width: 646px;
}
.talk__popup--content--form form {
  width: 100%;
}
.talk__popup--content--form form input {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  border: none;
  padding: 21px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}
.talk__popup--content--form form textarea {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  border: none;
  padding: 21px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}
.talk__popup--content--form form input[type=submit] {
  background-color: #5D50FF;
  color: #FFF;
  max-width: 218px;
  transition-duration: 700ms;
}
.talk__popup--content--form form input[type=submit]:hover {
  background-color: #fff;
  color: #5D50FF;
}

.thanks__popup--color .modal-dialog {
  max-width: 1440px;
}
.thanks__popup--color .modal-dialog .modal-content {
  background-color: #BDB8FF;
}
.thanks__popup--color .modal-dialog .modal-header {
  border-bottom: none;
}

.thanks__popup {
  padding: 155px;
}
.thanks__popup--content {
  text-align: center;
}
.thanks__popup--content img {
  height: 188px;
  width: 188px;
  border-radius: 50%;
}
.thanks__popup--content h1 {
  color: #160A52;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 188.5%;
  margin-bottom: 0px;
}
.thanks__popup--content p {
  color: #5D50FF;
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 188.5%;
  margin-bottom: 55px;
}
.thanks__popup--content a {
  color: #5D50FF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border: 1px solid #5D50FF;
  background-color: #FFF;
  border-radius: 5px;
  padding: 21px 75px;
  transition-duration: 700ms;
}
.thanks__popup--content a:hover {
  background-color: #5D50FF;
  color: #FFF;
}/*# sourceMappingURL=style.css.map */