//====================NAV SECTION START====================//
.common__nav{
    &--wrapper{
        &--logo{}
        &--nav{
            ul{
                li{
                    &:first-child{
                        a{
                        }
                    }
                    &:last-child{
                        a{
                        }
                    }
                    a{
                        font-size: 15px; //
                        &:hover{
                        }
                    }
                    &:nth-child(1){}
                    &:nth-child(2){}
                    &:nth-child(3){}
                }
            }
        }
        &--btn{
            &--design{
                font-size: 14px; //
                &:hover{
                }
            }
            &--talk{
                font-size: 14px; //
                &:hover{
                }
            }
        }
    }
}
//====================NAV SECTION ENDED====================//

//====================FOOTER SECTION START====================//
.common__footer{
    &--nav{
        h4{
            font-size: 14px;//
        }
        ul{
            li{
                a{
                    font-size: 14px;//
                    &:hover{
                    }
                }
            }
        }
        p{
            font-size: 14px;//
        }
    }
    &--copyright{
        &--logo{
            img{
            }
        }
        &--social{
            ul{
                li{
                    a{
                        font-size: 15px;//
                        &:hover{
                        }
                    }
                    @keyframes icon-hover {
                        0%{
                            font-size: 15px;//
                        } 50% {
                            font-size: 18px;//
                        } 100% {
                            font-size: 15px;//
                        }
                    }
                }
            }
        }
        &--text{
            p{
                font-size: 14px;//
                span{
                    a{
                        &:hover{
                        }
                    }
                }
            }
        }
    }
}
//====================FOOTER SECTION ENDED====================//

//====================HERO SECTION START====================//
.home__hero{
    &::before{
        top: 50%;
        left: calc(50% + 350px);
        height: 329px;
        width: 114px;
    }
    &::after{
        top: 50%;
        left: calc(50% - 350px);
        height: 329px;
        width: 114px;
    }
    &--wrapper{
        h5{
        }
        h1{
        }
        h2{
            &::before{
                height: 36px;
                width: 16px;
            }
            &::after{
                height: 50px;
                width: 50px;
            }
        }
        p{
            max-width: 500px;
            font-size: 15px;//
        }
        &--btns{
            a{
                &:first-child{
                    font-size: 14px;//
                    &:hover{
                    }
                }
                &:last-child{
                    font-size: 17px;//
                    &:hover{
                    }
                }
            }
        }
        ul{
            li{
                a{
                    img{
                    }
                    &:hover{
                        img{
                        }
                    }
                }
            }
        }
    }
    &--overlay{
    }
}
//====================HERO SECTION ENDED====================//

//====================HOME TRUSTED START====================//
.home__trusted{
    &--title{
        h4{
            font-size: 17px;//
        }
    }
    &--icons{
    }
}
//====================HOME TRUSTED ENDED====================//

//====================HOME WHY START====================//
.home__why{
    &--title{
        h4{
        }
        h1{
            max-width: 555px;
        }
    }
    &--content{
        gap: 36px;
        &--tabs{
            &--btn{
                .hwct__btn--contnt{
                    h4{
                        font-size: 15px;//
                    }
                    h2{
                        font-size: 24px;//
                    }
                }
                .hwct__btn--icon{
                    font-size: 23px;//
                }
                &.active{
                    .hwct__btn--contnt{
                        h4{
                        }
                        h2{
                        }
                    }
                    .hwct__btn--icon{
                    }

                }
            }
        }
        &--panel{
                &--cover{
                    width: 433px;
                    img{
                    }
                    &.active{
                    }
                }
            }
    }
}
//====================HOME WHY ENDED====================//

//====================HOME TESTIMONIAL START====================//
.home__testimonial{
    &--item{
        &--content{
            h2{
                font-size: 31px;//
            }
            p{
                font-size: 17px;//
            }
            &--profile{
                .hticp__dp{
                    img{
                    }
                }
                .hticp__info{
                    ul{
                        li{
                            img{}
                        }
                    }
                    p{
                        font-size:14px;//
                        span{
                            font-size: 14px;//
                        }
                    }
                }
            }
        }
        &--cover{}
    }
    &--controller{
        .swiper-button-next{
            
            &::after{
                font-size: 10px;
            }
            &:hover{
            }
        }
        .swiper-button-prev{
            &::after{
            }
            &:hover{
            }
        }
    }
}
//====================HOME TESTIMONIAL ENDED====================//

//====================HOME WORK START====================//
.home__work{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--slider{
        &--card{
            img{
            }
        }
    }
    &--btn{
        a{
            font-size: 14px;//
            &:hover{
            }
        }
    }
}
//====================HOME WORK ENDED====================//

//====================HOME VS SECTION START====================//
.home__vs{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--table{
        table{
            tr{
                td{
                    b{
                    }
                    &:last-child{
                        p{
                        }
                    }
                    p{
                        font-size: 17px;//
                    }
                    img{
                    }
                    &.custom-td-color{
                    }
                }
                &:nth-child(even){
                }
                
            }
        }
    }
}
//====================HOME VS SECTION START====================//

//====================GROWTH SECTION START====================//
.home__growth{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--counter{
        &--item{
            h2{
                font-size: 45px;//
            }
            p{
                font-size: 15px;//
            }
        }
    }
}
//====================GROWTH SECTION ENDED====================//

//====================HOME HOW SECTION START====================//
.home__how{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--wrapper{
        &--card{
            img{
            }
            &--title{
                h3{
                    font-size: 24px;//
                }
                div{
                    height: 50px;
                    width: 50px;
                    font-size: 39px;//
                }
            }
            p{
                font-size: 14px;//
            }
        }
    }
}
//====================HOME HOW SECTION ENDED====================//

//====================COMMON SCHEDULE START====================//
.home__common{
    &--wrapper{
        &--text{
            h2{
                max-width: 446px;
                font-size: 31px;//
            }
            p{
                font-size: 17px;//
            }
        }
        &--btn{
            a{
                font-size: 14px;//
                &:hover{
                }
            }
        }
    }
}
//====================COMMON SCHEDULE ENDED====================//

//====================HOME FAQ START====================//
.home__faq{
    &--title{
        h4{
        }
        h1{
        }
    }
    .faq{
    }
    .question{
        font-size: 17px;//
        &::before {
            font-size: 14px;
        }
    }
    .answer{
        font-size: 17px;//
    }
      .expanded .question::before {

      }
}
//====================HOME FAQ ENDED====================//

//====================HOME NETWORKS START====================//
.home__networks{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--items{
        gap: 55px;
        &--card{
            img{}
        }
    }
}
//====================HOME NETWORKS ENDED====================//

//====================HOME TEAM START====================//
.home__team{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--card{
        img{
        }
        h3{
            font-size: 24px;//
        }
        p{
            font-size: 15px;//
        }
    }
}
//====================HOME TEAM ENDED====================//

//====================COMMON POPUP START====================//
.talk__popup--color{
    .modal-dialog{
        .modal-content{
        }
        .modal-header{
        }
    }
}

.talk__popup{
    h1{
        font-size: 38px;
    }
    &--content{
        &--profile{
            img{

            }
            ul{
                li{
                    a{
                        img{
                        }
                    }
                }
            }
        }
        &--form{
            form{
                input{
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                textarea{
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                input[type=submit]{
                }
            }
        }
    }
}
.thanks__popup--color{
    .modal-dialog{
        .modal-content{
        }
        .modal-header{
        }
    }
}
.thanks__popup{
    &--content{
        img{
        }
        h1{
            font-size: 38px;
        }
        p{
            font-size: 17px;
        }
        a{
            font-size: 17px;
            padding: 15px 50px;
            &:hover{
            }
        }
    }
}
//====================COMMON POPUP ENDED====================//