//====================NAV SECTION START====================//
.common__nav{
    position: relative;
    min-height: 80px;
    &--wrapper{
        min-height: 80px;
        &--logo{
            
        }
        &--nav{
            position: absolute;
            top: 80px;
            left: -100%;
            background-color: #5D50FF;
            height: 100vh;
            width: 100%;
            z-index: 1;
            transition-duration: 700ms;
            &.active{
                left: 0;
            }
            ul{
                flex-direction: column;
                margin-left: 20px;
                margin-top: 20px;
                li{

                    &:first-child{
                        a{

                        }
                    }
                    &:last-child{
                        a{

                        }
                    }
                    a{
                        color: #FFF;
                        &:hover{
                        }
                    }
                    &:nth-child(1){}
                    &:nth-child(2){}
                    &:nth-child(3){}
                }
            }
        }
        &--btn{
            top: 248px;
            position: absolute;
            left: -100%;
            z-index: 3;
            transition-duration: 700ms;
            &.active{
                left: 20px;
            }
            &--design{
                background-color: #FFF;
                border: 1px solid #5D50FF;
                color: #5D50FF;
                padding: 14px 15px;
                &:hover{
                    background-color: #FFF;
                    border: 1px solid #5D50FF;
                    color: #5D50FF;
                }
            }
            &--talk{
                background-color: #FFF;
                border: 1px solid #5D50FF;
                color: #5D50FF;
                padding: 14px 15px;
                &:hover{

                }
            }
        }
        &--togoller{
            display: block;
            &.active{

            }
            &--bar{

                &:nth-child(1){

                }
                &:nth-child(2){}
                &:nth-child(3){}
            }
        }
    }
}
//====================NAV SECTION ENDED====================//

//====================FOOTER SECTION START====================//
.common__footer{
    &--nav{
        h4{
  
        }
        ul{
            li{
                a{
      
                    &:hover{
                    }
                }
            }
        }
        p{
  
        }
    }
    &--copyright{
        margin-top: 50px;
        &--logo{
            img{
                max-width: 250px;
            }
        }
        &--social{
            ul{
                li{
                    a{
             
                        &:hover{
                        }
                    }
                    @keyframes icon-hover {
                        0%{
                   
                        } 50% {
                     
                        } 100% {
                
                        }
                    }
                }
            }
        }
        &--text{
            p{
                display: flex;
                flex-direction: column-reverse;
                span{
                    &:nth-child(2){
                        display: none;
                    }
                    a{
                        &:hover{
                        }
                    }
                }
            }
        }
    }
}
//====================FOOTER SECTION ENDED====================//

//====================HERO SECTION START====================//
.home__hero{
    padding: 60px 0 60px 0;
    &::before{
        top: 60%;
        height: 110px;
        width: 38px;
        left: calc(50% + 140px);
    }
    &::after{
        top: 60%;
        height: 110px;
        width: 38px;
        left: calc(50% - 140px);
    }
    &--wrapper{
        h5{
            font-size: 14px;
            max-width: 80%;
        }
        h1{
        }
        h2{
            &::before{
            
            }
            &::after{
            
            }
        }
        p{
            font-size: 14px;
        }
        &--btns{
            margin-bottom: 50px;
            a{
                &:first-child{
                    
                    &:hover{
                    }
                }
                &:last-child{
                    font-size: 15px;
                    &:hover{
                    }
                }
            }
        }
        ul{
            gap: 10px;
            li{
                width: 50px;
                height: 50px;
                a{
                    img{
                        height: 50px;
                        width: 50px;
                    }
                    &:hover{
                        img{
                        }
                    }
                }
            }
        }
    }
    &--overlay{
    }
}
//====================HERO SECTION ENDED====================//

//====================HOME TRUSTED START====================//
.home__trusted{
    margin: 50px 0;
    &--title{
        h4{
            font-size: 14px;

        }
    }
    &--icons{
        img{

        }
    }
    &--rating{
        &--item{
            img{
                width: 222px;
            }
        }
    }
}
//====================HOME TRUSTED ENDED====================//

//====================HOME WHY START====================//
.home__why{
    padding: 50px 0;
    &--title{
        h4{
        }
        h1{
            
        }
    }
    &--content{
        
        &--tabs{
            &--btn{
                .hwct__btn--contnt{
                    padding: 15px;
                    h4{
                        font-size: 13px;
                    }
                    h2{
                        font-size: 20px;
                    }
                }
                .hwct__btn--icon{
                    height: 50px;
                    width: 50px;
                }
                &.active{
                    .hwct__btn--contnt{
                        h4{
                        }
                        h2{
                        }
                    }
                    .hwct__btn--icon{
                    }

                }
            }
        }
        &--panel{
                &--cover{
                
                    img{
                    }
                    &.active{
                    }
                }
            }
    }
}
//====================HOME WHY ENDED====================//

//====================HOME TESTIMONIAL START====================//
.home__testimonial{
    margin: 50px 0;
    &--item{
        flex-direction: column-reverse;
        gap: 36px;
        align-items: center;
        &--content{
            text-align: center;
            h2{
        
            }
            p{
             
            }
            &--profile{
                display: flex;
                flex-direction: column;
                align-items: center;
                .hticp__dp{
                    img{
                    }
                }
                .hticp__info{
                    ul{
                        justify-content: center;
                        li{
                            img{}
                        }
                    }
                    p{
                       
                        span{
                        
                        }
                    }
                }
            }
        }
        &--cover{}
    }
    &--controller{
        .swiper-button-next{
            left: calc(50% + 25px);
            transform: translateX(-50%);
            &::after{
             
            }
            &:hover{
            }
        }
        .swiper-button-prev{
            left: calc(50% - 25px);
            transform: translateX(-50%);
            &::after{
            }
            &:hover{
            }
        }
    }
}
//====================HOME TESTIMONIAL ENDED====================//

//====================HOME WORK START====================//
.home__work{
    padding: 50px 0;
    &--title{
        h4{
        }
        h1{
            margin-bottom: 50px;
        }
    }
    &--slider{
        &--card{
            img{
            }
        }
    }
    &--btn{
        a{
   
            &:hover{
            }
        }
    }
}
//====================HOME WORK ENDED====================//

//====================HOME VS SECTION START====================//
.home__vs{
    padding: 50px 0;
    &--title{
        h4{
        }
        h1{
            margin-bottom: 50px;
        }
    }
    &--table{
        table{
            tr{
                td{
                    &:first-child{
                        text-align: left !important;
                    }
                    b{
                    }
                    &:last-child{
                        p{
                        }
                    }
                    p{
            
                    }
                    img{
                    }
                    &.custom-td-color{
                    }
                }
                &:nth-child(even){
                }
                
            }
        }
    }
}
//====================HOME VS SECTION START====================//

//====================GROWTH SECTION START====================//
.home__growth{
    padding: 50px 0;
    &--title{
        h4{
        }
        h1{
        }
    }
    &--counter{
        flex-wrap: wrap;
        // flex-direction: column;
        align-items: center;
        &--item{
            h2{
            
            }
            p{
        
            }
        }
    }
}
//====================GROWTH SECTION ENDED====================//

//====================HOME HOW SECTION START====================//
.home__how{
    padding: 50px 0;
    &--title{
        h4{
        }
        h1{
        }
    }
    &--wrapper{
        flex-direction: column;
        &--card{
            max-width: 100%;
            margin-bottom: 50px;
            &:last-child{
                margin-top: 0;
            }
            img{
                margin-bottom: 30px;
            }
            &--title{
                h3{
               
                }
                div{
               
                }
            }
            p{
        
            }
        }
    }
}
//====================HOME HOW SECTION ENDED====================//

//====================COMMON SCHEDULE START====================//
.home__common{
    margin: 50px 0;
    &--wrapper{
        flex-direction: column;
        gap: 40px;
        &--text{
            h2{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
        &--btn{
            a{
            
                &:hover{
                }
            }
        }
    }
}
//====================COMMON SCHEDULE ENDED====================//

//====================HOME FAQ START====================//
.home__faq{
    padding: 50px 0;
    &--title{
        h4{
        }
        h1{
            margin-bottom:40px;
        }
    }
    .faq{
    }
    .question{
   
        &::before {
       
        }
    }
    .answer{
  
    }
      .expanded .question::before {

      }
}
//====================HOME FAQ ENDED====================//

//====================HOME NETWORKS START====================//
.home__networks{
    padding: 50px 0;
    &--title{
        h4{
        }
        h1{
        }
    }
    &--items{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        &--card{
            img{}
        }
    }
}
//====================HOME NETWORKS ENDED====================//

//====================HOME TEAM START====================//
.home__team{
    margin: 50px 0 20px 0;
    &--title{
        h4{
        }
        h1{
        }
    }
    &--card{
        margin-bottom: 50px;
        img{
        }
        h3{
            
        }
        p{
            
        }
    }
}
//====================HOME TEAM ENDED====================//

//====================COMMON POPUP START====================//
.talk__popup--color{
    .modal-dialog{
        max-width: 100%;
        .modal-content{
        }
        .modal-header{
        }
    }
}

.talk__popup{
    padding: 0;
    h1{
    }
    &--content{
        flex-direction: column;
        gap: 75px;
        &--profile{
            img{
            }
            ul{
                li{
                    a{
                        img{
                        }
                    }
                }
            }
        }
        &--form{
            min-width: 100%;
            form{
                input{
                }
                textarea{
                
                }
                input[type=submit]{
                    max-width: 100%;
                }
            }
        }
    }
}
.thanks__popup--color{
    .modal-dialog{
        max-width: 930px;
        .modal-content{
        }
        .modal-header{
        }
    }
}
.thanks__popup{
    // padding: 0;
    &--content{
        img{
        }
        h1{
        }
        p{
            
        }
        a{
            &:hover{
            }
        }
    }
}
//====================COMMON POPUP ENDED====================//