//====================NAV SECTION START====================//
.common__nav{
    &--wrapper{
        &--logo{
            img{
                max-width: 133px;
            }
        }
        &--nav{
            ul{
                gap: 20px;
                li{
                    &:first-child{
                        a{
                        }
                    }
                    &:last-child{
                        a{
                        }
                    }
                    a{
                        &:hover{
                        }
                    }
                    &:nth-child(1){}
                    &:nth-child(2){}
                    &:nth-child(3){}
                }
            }
        }
        &--btn{
            gap: 20px;
            &--design{
                &:hover{
                }
            }
            &--talk{
                &:hover{
                }
            }
        }
    }
}
//====================NAV SECTION ENDED====================//

//====================FOOTER SECTION START====================//
.common__footer{
    &--nav{
        h4{
        }
        ul{
            li{
                a{
                    &:hover{
                    }
                }
            }
        }
        p{
        }
    }
    &--copyright{
        &--logo{
            img{
            }
        }
        &--social{
            ul{
                li{
                    a{
                        &:hover{
                        }
                    }
                    @keyframes icon-hover {
                        0%{
                        } 50% {
                        } 100% {
                        }
                    }
                }
            }
        }
        &--text{
            p{
                span{
                    a{
                        &:hover{
                        }
                    }
                }
            }
        }
    }
}
//====================FOOTER SECTION ENDED====================//

//====================HERO SECTION START====================//
.home__hero{
    &::before{
    }
    &::after{
    }
    &--wrapper{
        h5{
        }
        h1{
        }
        h2{
            &::before{
            }
            &::after{
            }
        }
        p{
        }
        &--btns{
            a{
                &:first-child{
                    &:hover{
                    }
                }
                &:last-child{
                    &:hover{
                    }
                }
            }
        }
        ul{
            li{
                a{
                    img{
                    }
                    &:hover{
                        img{
                        }
                    }
                }
            }
        }
    }
    &--overlay{
    }
}
//====================HERO SECTION ENDED====================//

//====================HOME TRUSTED START====================//
.home__trusted{
    &--title{
        h4{
        }
    }
    &--icons{
    }
}
//====================HOME TRUSTED ENDED====================//

//====================HOME WHY START====================//
.home__why{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--content{
        gap: 36px;
        &--tabs{
            &--btn{
                .hwct__btn--contnt{
                    h4{
                    }
                    h2{
                    }
                }
                .hwct__btn--icon{
                }
                &.active{
                    .hwct__btn--contnt{
                        h4{
                        }
                        h2{
                        }
                    }
                    .hwct__btn--icon{
                    }

                }
            }
        }
        &--panel{
                &--cover{
                    img{
                    }
                    &.active{
                    }
                }
            }
    }
}
//====================HOME WHY ENDED====================//

//====================HOME TESTIMONIAL START====================//
.home__testimonial{
    &--item{
        &--content{
            h2{
            }
            p{
            }
            &--profile{
                .hticp__dp{
                    img{
                    }
                }
                .hticp__info{
                    ul{
                        li{
                            img{}
                        }
                    }
                    p{
                        span{
                        }
                    }
                }
            }
        }
        &--cover{}
    }
    &--controller{
        .swiper-button-next{
            
            &::after{
            }
            &:hover{
            }
        }
        .swiper-button-prev{
            &::after{
            }
            &:hover{
            }
        }
    }
}
//====================HOME TESTIMONIAL ENDED====================//

//====================HOME WORK START====================//
.home__work{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--slider{
        &--card{
            img{
            }
        }
    }
    &--btn{
        a{
            &:hover{
            }
        }
    }
}
//====================HOME WORK ENDED====================//

//====================HOME VS SECTION START====================//
.home__vs{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--table{
        table{
            tr{
                td{
                    b{
                    }
                    &:last-child{
                        p{
                        }
                    }
                    p{
                    }
                    img{
                    }
                    &.custom-td-color{
                    }
                }
                &:nth-child(even){
                }
                
            }
        }
    }
}
//====================HOME VS SECTION START====================//

//====================GROWTH SECTION START====================//
.home__growth{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--counter{
        gap: 26px;
        &--item{
            h2{
            }
            p{
                max-width: 150px;
            }
        }
    }
}
//====================GROWTH SECTION ENDED====================//

//====================HOME HOW SECTION START====================//
.home__how{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--wrapper{
        &--card{
            max-width: 220px;
            img{
                width: 100%;
            }
            &--title{
                h3{
                }
                div{
                }
            }
            p{
            }
        }
    }
}
//====================HOME HOW SECTION ENDED====================//

//====================COMMON SCHEDULE START====================//
.home__common{
    &--wrapper{
        padding: 50px 50px;
        &--text{
            h2{
                max-width: 350px;
            }
            p{
                margin-bottom: 0;
            }
        }
        &--btn{
            a{
                &:hover{
                }
            }
        }
    }
}
//====================COMMON SCHEDULE ENDED====================//

//====================HOME FAQ START====================//
.home__faq{
    &--title{
        h4{
        }
        h1{
        }
    }
    .faq{
    }
    .question{
        &::before {
        }
    }
    .answer{
    }
      .expanded .question::before {

      }
}
//====================HOME FAQ ENDED====================//

//====================HOME NETWORKS START====================//
.home__networks{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--items{
        grid-template-columns:  repeat(4, 1fr);
        &--card{
            img{}
        }
    }
}
//====================HOME NETWORKS ENDED====================//

//====================HOME TEAM START====================//
.home__team{
    &--title{
        h4{
        }
        h1{
        }
    }
    &--card{
        img{
        }
        h3{
        }
        p{
        }
    }
}
//====================HOME TEAM ENDED====================//

//====================COMMON POPUP START====================//
.talk__popup--color{
    .modal-dialog{
        max-width: 930px;
        .modal-content{
        }
        .modal-header{
        }
    }
}

.talk__popup{
    h1{
    }
    &--content{
        gap: 75px;
        &--profile{
            img{
            }
            ul{
                li{
                    a{
                        img{
                        }
                    }
                }
            }
        }
        &--form{
            min-width: 400px;
            form{
                input{
                }
                textarea{
                
                }
                input[type=submit]{
                }
            }
        }
    }
}
.thanks__popup--color{
    .modal-dialog{
        max-width: 930px;
        .modal-content{
        }
        .modal-header{
        }
    }
}
.thanks__popup{
    &--content{
        img{
        }
        h1{
        }
        p{
            
        }
        a{
            &:hover{
            }
        }
    }
}
//====================COMMON POPUP ENDED====================//